<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla_novelaG :: head}"/>
    <body>
        <header th:replace="~{layout/plantilla_novelaG :: header}"/>
        <aside th:replace="~{layout/plantilla_novelaG :: aside}"/>  
        <h1 style="text-align: center;">Política</h1>

        <div style="position: fixed;top: 150px;left: 10%;right: 0;">
            <section>
                <h2>Lo más leido</h2>
            </section>
            <section>
                <h2>Lo nuevo</h2>
            </section>
        </div>
    </body>
</html>
