<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}"/>
</head>
<body>
    <header th:replace="~{layout/plantilla :: header}"/>
    <h2 class="offset-md-9">SOBRE NOSOTROS</h2>
    <img src="/img/mision.png" alt="" class="rounded" style="width: 350px; position: absolute; margin-left: 50px;"/>
    <div class="container" style="margin-top: 20px">
        <div class="row" style="margin-bottom: 50px;">
            <div class="col-md-9 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Nuestra misión es brindar una experiencia de compra fácil, accesible y satisfactoria a nuestros clientes, ofreciendo una amplia selección de libros 
                            de calidad a precios competitivos. Nos comprometemos a trabajar con los mejores editores y distribuidores para ofrecer una variedad de títulos y géneros, y a garantizar 
                            una entrega rápida y confiable. Además, nos esforzamos por ofrecer un excelente servicio al cliente, brindando información detallada sobre nuestros productos, respondiendo 
                            rápidamente a las consultas y comentarios, y garantizando una experiencia de compra sin problemas para nuestros clientes.</p>
                    </div>
                </div>
            </div>
        </div>
                <img src="/img/vision.png" alt="" style="width: 270px; position: absolute; margin-left: 290px; margin-bottom: 400px;"/>
        <div class="row " style="margin-top: 100px">    
            <div class="col-md-7 offset-md-6">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Nuestra visión es convertirnos en la principal plataforma de venta de libros en línea, ofreciendo a los clientes una amplia selección de títulos de calidad y un servicio excepcional, 
                            para fomentar y apoyar el amor por la lectura en todo el mundo.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
