<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}"/>
</head>
<body>
    <header th:replace="~{layout/plantilla :: header}"/>
    <div class="container" style="margin-top: 50px">
        <div class="row" style="margin-bottom: 50px;">
            <div class="col-md-9 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Nuestra misión es brindar una experiencia de compra fácil, accesible y satisfactoria a nuestros clientes, ofreciendo una amplia selección de libros 
                            de calidad a precios competitivos. Nos comprometemos a trabajar con los mejores editores y distribuidores para ofrecer una variedad de títulos y géneros, y a garantizar 
                            una entrega rápida y confiable. Además, nos esforzamos por ofrecer un excelente servicio al cliente, brindando información detallada sobre nuestros productos, respondiendo 
                            rápidamente a las consultas y comentarios, y garantizando una experiencia de compra sin problemas para nuestros clientes.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 offset-md-6">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Nuestra visión es convertirnos en la principal plataforma de venta de libros en línea, ofreciendo a los clientes una amplia selección de títulos de calidad y un servicio excepcional, 
                            para fomentar y apoyar el amor por la lectura en todo el mundo.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
