<!DOCTYPE html>

<html xmlns="https://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">

    <head th:replace="~{layout/plantilla :: head}">

    </head>
    <body style="overflow-y: scroll;">
        <header th:replace="~{layout/plantilla :: header}"/>
        <aside th:replace="~{layout/plantilla :: aside}"></aside>
        <h1 style="text-align: center;">¡Bienvenido a BookGeekShop!</h1>
        <div style="position: fixed;top: 150px;left: 10%;right: 0;">
            <section>
                <h2> Lo mas Leido </h2>
                <div class="container">
                    <div id="LML" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="card" style="width: 12rem; left: 44%">
                                                <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/copia-de-portada-de-novela-design-template-d16bfe2953a362480e1663a936bf3e09_screen.jpg?ts=1637000211" class="card-img-top" alt="80px" width="180px">
                                                <div class="card-body">
                                                    <a href="#" class="btn btn-primary" >Ver Detalles</a>
                                                </div>
                                            </div> 
                                        </div>
                                        <div class="col-md-2">
                                            <div class="card" style="width: 12rem; left: 44%">
                                                <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/copia-de-portada-de-novela-design-template-d16bfe2953a362480e1663a936bf3e09_screen.jpg?ts=1637000211" class="card-img-top" alt="80px" width="180px">
                                                <div class="card-body">
                                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                                </div>
                                            </div> 
                                        </div>

                                        <div class="col-md-2">
                                            <div class="card" style="width: 12rem; left: 44%">
                                                <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/copia-de-portada-de-novela-design-template-d16bfe2953a362480e1663a936bf3e09_screen.jpg?ts=1637000211" class="card-img-top" alt="80px" width="180px">
                                                <div class="card-body">
                                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                                </div>
                                            </div> 
                                        </div>
                                        <div class="col-md-2">
                                            <div class="card" style="width: 12rem; left: 44%">
                                                <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/copia-de-portada-de-novela-design-template-d16bfe2953a362480e1663a936bf3e09_screen.jpg?ts=1637000211" class="card-img-top" alt="80px" width="180px">
                                                <div class="card-body">
                                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                                </div>
                                            </div> 
                                        </div>
                                        <div class="col-md-2">
                                            <div class="card" style="width: 12rem; left: 44%">
                                                <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/copia-de-portada-de-novela-design-template-d16bfe2953a362480e1663a936bf3e09_screen.jpg?ts=1637000211" class="card-img-top" alt="80px" width="180px">
                                                <div class="card-body">
                                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                                </div>
                                            </div> 
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="carousel-item">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="card" style="width: 12rem; left: 44%">
                                                <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/copia-de-portada-de-novela-design-template-d16bfe2953a362480e1663a936bf3e09_screen.jpg?ts=1637000211" class="card-img-top" alt="80px" width="180px">
                                                <div class="card-body">
                                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                                </div>
                                            </div> 
                                        </div>
                                        <div class="col-md-2">
                                            <div class="card" style="width: 12rem; left: 44%">
                                                <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/copia-de-portada-de-novela-design-template-d16bfe2953a362480e1663a936bf3e09_screen.jpg?ts=1637000211" class="card-img-top" alt="80px" width="180px">
                                                <div class="card-body">
                                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                                </div>
                                            </div> 
                                        </div>

                                        <div class="col-md-2">
                                            <div class="card" style="width: 12rem; left: 44%">
                                                <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/copia-de-portada-de-novela-design-template-d16bfe2953a362480e1663a936bf3e09_screen.jpg?ts=1637000211" class="card-img-top" alt="80px" width="180px">
                                                <div class="card-body">
                                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                                </div>
                                            </div> 
                                        </div>
                                        <div class="col-md-2">
                                            <div class="card" style="width: 12rem; left: 44%">
                                                <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/copia-de-portada-de-novela-design-template-d16bfe2953a362480e1663a936bf3e09_screen.jpg?ts=1637000211" class="card-img-top" alt="80px" width="180px">
                                                <div class="card-body">
                                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                                </div>
                                            </div> 
                                        </div>
                                        <div class="col-md-2">
                                            <div class="card" style="width: 12rem; left: 44%">
                                                <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/copia-de-portada-de-novela-design-template-d16bfe2953a362480e1663a936bf3e09_screen.jpg?ts=1637000211" class="card-img-top" alt="80px" width="180px">
                                                <div class="card-body">
                                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                                </div>
                                            </div> 
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#LML" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#LML" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>

            </section>
            
            <section>
                <h2> Lo Nuevo </h2>
                <div class="container">
                    <div id="LN" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="card" style="width: 12rem; left: 44%">
                                                <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/copia-de-portada-de-novela-design-template-d16bfe2953a362480e1663a936bf3e09_screen.jpg?ts=1637000211" class="card-img-top" alt="80px" width="180px">
                                                <div class="card-body">
                                                    <a href="#" class="btn btn-primary" >Ver Detalles</a>
                                                </div>
                                            </div> 
                                        </div>
                                        <div class="col-md-2">
                                            <div class="card" style="width: 12rem; left: 44%">
                                                <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/copia-de-portada-de-novela-design-template-d16bfe2953a362480e1663a936bf3e09_screen.jpg?ts=1637000211" class="card-img-top" alt="80px" width="180px">
                                                <div class="card-body">
                                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                                </div>
                                            </div> 
                                        </div>

                                        <div class="col-md-2">
                                            <div class="card" style="width: 12rem; left: 44%">
                                                <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/copia-de-portada-de-novela-design-template-d16bfe2953a362480e1663a936bf3e09_screen.jpg?ts=1637000211" class="card-img-top" alt="80px" width="180px">
                                                <div class="card-body">
                                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                                </div>
                                            </div> 
                                        </div>
                                        <div class="col-md-2">
                                            <div class="card" style="width: 12rem; left: 44%">
                                                <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/copia-de-portada-de-novela-design-template-d16bfe2953a362480e1663a936bf3e09_screen.jpg?ts=1637000211" class="card-img-top" alt="80px" width="180px">
                                                <div class="card-body">
                                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                                </div>
                                            </div> 
                                        </div>
                                        <div class="col-md-2">
                                            <div class="card" style="width: 12rem; left: 44%">
                                                <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/copia-de-portada-de-novela-design-template-d16bfe2953a362480e1663a936bf3e09_screen.jpg?ts=1637000211" class="card-img-top" alt="80px" width="180px">
                                                <div class="card-body">
                                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                                </div>
                                            </div> 
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="carousel-item">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="card" style="width: 12rem; left: 44%">
                                                <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/copia-de-portada-de-novela-design-template-d16bfe2953a362480e1663a936bf3e09_screen.jpg?ts=1637000211" class="card-img-top" alt="80px" width="180px">
                                                <div class="card-body">
                                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                                </div>
                                            </div> 
                                        </div>
                                        <div class="col-md-2">
                                            <div class="card" style="width: 12rem; left: 44%">
                                                <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/copia-de-portada-de-novela-design-template-d16bfe2953a362480e1663a936bf3e09_screen.jpg?ts=1637000211" class="card-img-top" alt="80px" width="180px">
                                                <div class="card-body">
                                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                                </div>
                                            </div> 
                                        </div>

                                        <div class="col-md-2">
                                            <div class="card" style="width: 12rem; left: 44%">
                                                <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/copia-de-portada-de-novela-design-template-d16bfe2953a362480e1663a936bf3e09_screen.jpg?ts=1637000211" class="card-img-top" alt="80px" width="180px">
                                                <div class="card-body">
                                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                                </div>
                                            </div> 
                                        </div>
                                        <div class="col-md-2">
                                            <div class="card" style="width: 12rem; left: 44%">
                                                <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/copia-de-portada-de-novela-design-template-d16bfe2953a362480e1663a936bf3e09_screen.jpg?ts=1637000211" class="card-img-top" alt="80px" width="180px">
                                                <div class="card-body">
                                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                                </div>
                                            </div> 
                                        </div>
                                        <div class="col-md-2">
                                            <div class="card" style="width: 12rem; left: 44%">
                                                <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/copia-de-portada-de-novela-design-template-d16bfe2953a362480e1663a936bf3e09_screen.jpg?ts=1637000211" class="card-img-top" alt="80px" width="180px">
                                                <div class="card-body">
                                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                                </div>
                                            </div> 
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#LN" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#LN" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>

            </section>



        </div>
    </section>
</div>
</body>
</html>
