<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>BookGeekShop</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header>
            <h1>BookGeekShop</h1>
            <hr>
            <br>
            <a th:href="@{/cliente/listado_cliente}">Clientes</a>
            <br>
            <a th:href="@{/empleado/listado_empleado}">Empleados</a>
        </header>
        
    </header>

    <p>Lorem ipsum dolor sit amet consectetur adipiscing, elit mattis eleifend blandit aenean proin, 
        libero eros egestas maecenas mus. Massa cras ultrices blandit nam ut non vestibulum viverra primis,
        nibh imperdiet integer elementum hendrerit vivamus ac penatibus enim fames, curae eu est varius eros tellus potenti semper.
        Eleifend per venenatis suscipit posuere curabitur dis cum tortor, arcu ultricies nec proin etiam commodo aenean habitasse,
        libero sed integer habitant tempus quam mus.Himenaeos habitasse fusce risus vulputate justo parturient est ut varius leo, 
        praesent odio nisi taciti suspendisse non erat id eu. Est vitae tellus blandit egestas sem dui turpis quam, torquent non 
        elementum magnis ridiculus eleifend ut porttitor scelerisque, vel ad molestie enim primis purus hac. Magna vulputate turpis
        etiam varius lacus faucibus proin dictumst purus cubilia potenti bibendum a facilisis molestie, parturient magnis per semper
        netus eget justo hendrerit condimentum quam curabitur massa accumsan.
    </p>

</body>
</html>
