<!DOCTYPE html>

<html xmlns="https://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">

    <head th:replace="~{layout/plantilla :: head}">

    </head>
    <body style="overflow-y: scroll;">
        <header th:replace="~{layout/plantilla :: header}"/>
        <aside th:replace="~{layout/plantilla :: aside}"></aside>
        <h1 style="text-align: center;">¡Bienvenido a BookGeekShop!</h1>
        <div style="position: fixed;top: 150px;left: 10%;right: 0;">
            <div class="container">
                <!-- Encabezado de la página -->
                <header class="my-5 text-right">
                    <h1>Perfil de usuario</h1>
                </header>

                <!-- Contenido principal de la página -->
                <main class="row">
                    <!-- Columna de la foto de perfil -->
                    <div class="col-md-5 text-center">
                        <img src=" https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png " alt="Foto de perfil" class="img-thumbnail img-profile" >
                        <br>
                        <h3> Nombre de Usuario</h3>
                    </div>

                    <!-- Columna de la información del usuario -->

                    <div class="col-md-3">
                        <h2>Información del usuario</h2>
                        <hr>
                        <form>
                            <div class="form-group">
                                <label for="nombre">Nombre:</label>
                                <input type="text" class="form-control" id="nombre">
                            </div>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" id="email">
                            </div>
                            <div class="form-group">
                                <label for="usuario">Usuario: </label>
                                <input type="text" class="form-control" id="usuario">
                            </div>

                        </form>
                    </div>

                    <div class="col-md-3">
                        <h2 style="color: transparent;">Información del usuario</h2>
                        <hr>
                        <form>
                            <div class="form-group">
                                <label for="apellido">Apellido:</label>
                                <input type="text" class="form-control" id="apellido">
                            </div>
                            <div class="form-group">
                                <label for="telefono">Telefono:</label>
                                <input type="numhber" class="form-control" id="telefono">
                            </div>
                            <div class="form-group">
                                <label for="password">Contraseña:</label>
                                <input type="password" class="form-control" id="password">
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
                            <button type="submit" class="btn btn-primary">Editar</button>
                        </form>
                    </div>
                    <div class="col-md-5">
                    </div>

                    <div class="col-md-6">
                        <h2>Metodos de Pago</h2>
                        <hr>
                        <br>
                        <div class="card">
                            <div class="card-body">
                                <div class="card-info">
                                    <div class="card-number">1234 5678 9012 3456</div>
                                    <div class="card-expiry"> 12/24</div>
                                    <div class="card-holder">Juan Pérez</div>
                                    <div class="card-type">CR0000000000000000000000001 VISA </div>
                                </div>
                            </div>
                        </div>


                        <br>
                        <button type="submit" class="btn btn-success">Añadir Metodo de Pago</button>
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                        <button type="submit" class="btn btn-primary">Editar</button>
                        </form>
                    </div>
                </main>
            </div>
        </div>
    </body>
</html>
